.navbar {
    height: 50px;
    width: 100%;

    display: flex;
    position: absolute;
    top: 0;
    z-index: 11;
    padding-top: 10px;
}

.navbar-heading {
    height: 100%;
    width: 100px;
    display: flex;
    font-size: 3rem;
    gap: 10px;
    font-weight: 900;
    color: rgb(3, 52, 52);
}

.Menu-list {
    display: flex;
    gap: 20px;
    margin: auto;
    cursor: pointer;

}
.menuLine{
    display: none;
    font-size: 25px;
    font-weight: 900;
}
@media screen and (max-width: 900px) {
  .Menu-list {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .Menu-list.open {
    display: flex;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 1rem;
    background-color: rgb(35, 0, 0);
    color: white;
  }
  .menuLine {
    display: block;
    font-size: 2rem;
    font-weight: 900;
    position: absolute;
    top: 10px;
    right: 20px;
  }
}


.Menu-list li {
    padding: 10px;
}

.Menu-list li:hover {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
}

.Foody-icon {
    height: 100%;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.chef {
    height: 100px;
    width: 90px;
    object-fit: cover;
    margin: 5px;
    }
 @media screen and (max-width : 700px) {
     .chef{
       height: 70px;
       width: 60px;
     }  
     .Foody-icon{
       width: 190px;
     } 
     .navbar-heading{
       font-size: 2.5rem;
     }
     .navbar-heading img{
       display: none;
     }
  }
 