.hero-section {
    height: 550px;
    width: 100%;
    background: hsla(230, 59%, 25%, 1);
    background: linear-gradient(90deg, hsla(230, 59%, 25%, 1) 0%, hsla(359, 73%, 39%, 1) 50%, hsla(32, 97%, 59%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(230, 59%, 25%, 1) 0%, hsla(359, 73%, 39%, 1) 50%, hsla(32, 97%, 59%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(230, 59%, 25%, 1) 0%, hsla(359, 73%, 39%, 1) 50%, hsla(32, 97%, 59%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1a2766", endColorstr="#ae1b1e", GradientType=1);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    color: rgb(0, 0, 0);
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.mixveg {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    z-index: 11;
    transform: translate(10%);
    display: block;
}

.bhel {
    height: 400px;
    width: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
    z-index: 11;
    display: block;
}

.block1 {
    height: 200px;
    width: 330px;
    position: absolute;
    top: 0;
    left: 20px;
    background-color: rgb(246, 255, 0);
    filter: blur(100px);
}

.block2 {
    height: 300px;
    width: 400px;
    position: absolute;
    top: 80px0;
    left: 400px;
    background-color: rgb(255, 251, 253);
    filter: blur(100px);
}

.block3 {
    height: 200px;
    width: 330px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(43, 8, 21, 0.96);
    filter: blur(100px);
}

@media screen and (max-width: 1200px) {

    .bhel,
    .mixveg {
        display: none;
    }
}

.hero-Details {
    height: 300px;
    width: 600px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;
    padding: 20px;
    gap: 20px;
}

.main-heading {
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 2px;
}

.msg {
    width: 70%;

}

.btn {
    padding: 1rem 2.5rem;
    border: 1px solid rgb(40, 35, 35);
    background-color: transparent;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid rgb(109, 81, 81);
    color: rgb(100, 94, 94);
}

.categories {
    height: 80vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.MenuItem {
    height: 700px;
    width: 100%;
    /* background-color: rgba(33, 0, 36, 0.546); */
}

@media screen and (max-width : 700px) {

    .hero-Details{
        height: 350px;
        width: 300px;
        color: rgb(203, 203, 203);
    }
     .btn{
        color: rgb(210, 210, 210);
        font-size: 20px;
     }
    .main-heading {
        font-size: 3rem;
    }
    
}