
.hero-section{
    height: 500px;
    width: 100%;
    background-color: rgb(0, 0, 0);  
    display: flex;
    justify-content:center;
    align-items: center;
}
.hero-section img{
    height: 100%;
    width: 100%;
    object-fit:fill;
    opacity: 0.6;
}
.hero-Details{
    height: 300px;
    width: 600px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;
    padding: 20px;
    gap: 20px;
}
.main-heading{
    font-size: 4rem;
    color: white;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 2px;
}
.msg{
    width: 70%;
    color: rgb(221, 219, 219);
}
.btn{
    padding: 1rem 2.5rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid rgb(179, 179, 179);
}